.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 transparent!important;
}
body {background-image: url(https://www.freepik.es/vector-gratis/fondo-floral-acuarela-pintada-mano_15782862.htm#fromView=image_search&page=1&position=2&uuid=7edc81ee-5f09-43a3-8aed-0905adc81db0);}